/* color set */
$white: #fff;
$gray: grey;
$black: #111;
$general: #727272;
$black_soft: #333;
$black_col: #2e333c;
$black_more: #0f0f0f;
$black_background: #050505;
$color: #a48b57;
$color_more: #c5a86a;

// main page
.app-header__mobile-menu {
    z-index: 5 !important;
}

@media (max-width: 991.98px) {
    .dropdown-menu {
        position: fixed !important;
        z-index: 50;
        left: 3% !important;
        top: 15% !important;
        width: 40% !important;
        transform: translateY(-50%) !important;
        min-width: 10px !important;
    }
}
